@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .noted {
    -webkit-tap-highlight-color: transparent;
  }

  .no-scrollbar {
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: #fefefe;
}
